
<tbody id="calcontent">


<f:for each="{calendar}" as="week">
	<tr>
		<f:for each="{week}" as="day">
			<td class="{f:if(condition:'{day.disabled}', then:'informative', else:'current')}{f:if(condition:'{day.events}', then:' event', else:'')}{f:if(condition:'{day.active}', then:' act', else:'')}" >
				<span class="date"><f:format.date format="d">{day.date}</f:format.date></span>
				<f:if condition="{day.events}">
					<ul>
						<f:for each="{day.events}" as="event">
							<li >{event.title}</li>
						</f:for>
					</ul>
				</f:if>
			</td>
		</f:for>
	</tr>
</f:for>

</tbody>
	</table>

	<f:link.action action="calendar" controller="Event" arguments="{start: prevMonth, calendar: selectedCalendar}" class="ajaxLink">Prev</f:link.action>
	<f:link.action action="calendar" controller="Event" arguments="{start: nextMonth, calendar: selectedCalendar}" class="ajaxLink">Next</f:link.action>
	
	<f:for each="{calendars}" as="cal">
	  <div>
	  	<f:link.action action="calendar" controller="Event" arguments="{start: selectedMonth, calendar: cal.uid}" class="ajaxLink">{cal.name}</f:link.action>
	  </div>
	</f:for>