<table class="tx-ftf-events" >
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.teaser" />
		</td>
		<td>
			{event.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.location" />
		</td>
		<td>
			{event.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.event_start" />
		</td>
		<td>
			{event.eventStart -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.event_stop" />
		</td>
		<td>
			{event.eventStop -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.recurring_days" />
		</td>
		<td>
			{event.recurringDays}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.recurring_weeks" />
		</td>
		<td>
			{event.recurringWeeks}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ftfevents_domain_model_event.recurring_stop" />
		</td>
		<td>
			{event.recurringStop -> f:format.date()}
		</td>
	</tr>
</table>