
<f:if condition="{ajax} != 1">

<div class="tx-ftf-events">
	<div class="ftfcal">

		<div id="calcontent">
		
</f:if>

			<f:render partial="Event/Calendar" arguments="{calendar:calendar, calendars:calendars, selectedCalendar:selectedCalendar, nextMonth:nextMonth, prevMonth:prevMonth, selectedMonth: selectedMonth, selectedDate:selectedDate}" />

<f:if condition="{ajax} != 1">
		
		</div>
		
		<div class="today"></div>
		<div class="agenda"></div>
	
	</div>
</div>  	
</f:if>