
<f:if condition="{ajax} != 1">
<!-- The top part -->
<div class="tx-ftf-events">
	<div class="ftfcal">
	<h1>Calendar View</h1>
	<table cellspacing="0">
	  <thead>
	    <tr>
	      <td>M</td>
	      <td>T</td>
	      <td>O</td>
	      <td>T</td>
	      <td>F</td>
	      <td>L</td>
	      <td>S</td>
	    </tr>
	  </thead>

<!-- The top part // end -->
</f:if>


  	<f:render partial="Event/Calendar" arguments="{_all}" />

<f:if condition="{ajax} != 1">
<!-- The bottom part -->

	<div class="today"></div>
	<div class="agenda"></div>
	
	</div>
</div>  	
<!-- The bottom part // end -->
</f:if>
